.hero-flexslider {
            position: relative;
            height: 100vh;
        }
        
        .hero-flexslider {
            position: relative;
            height: 100vh;
        }
        
        .hero-flexslider .overlay {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 999;
            cursor: pointer;
        }
        
        .hero-flexslider .hero-text {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
        }
        
        .hero-text h1 {
            font-size: 28px;
            line-height: 36px;
        }
        
        .hero-text p {
            font-size: 18px;
            font-weight: 100;
        }
        
        @media only screen and (min-width: 500px) {
            .hero-text h1 {
                font-size: 50px;
                line-height: 72px;
            }
        }
.kenburn-slider{
	width:100%;
	position: relative;
	
	.slides{
		list-style: none;
		overflow: hidden;
		margin: 0;
		padding: 0;
		
		> li{
			float: left;
			margin-right: -100%;
			width: 100%;
			overflow: hidden;
			 height: 100vh;
			position: relative;
		}
	}
	
	.flex-direction-nav{
		list-style: none;
		margin: 0;
		padding: 0;
		
		.flex-prev,.flex-next{
			background-color: rgba(255,255,255,.7);
			color: #333;
			padding: 10px 20px;
			text-decoration: none;
			position: absolute;
			height: 1em;
			top: 0;
			bottom: 0;
			margin: auto;
			z-index: 8;
			text-align: center;
			
		}
		.flex-prev{left: 0}
		.flex-next{right: 0}
	}
}
.slide-image{
	background-size: cover;
	background-position: center;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	
	.flex-active-slide &{
		animation: zoomout 5s;	
	}
}

@-webkit-keyframes zoomout{
	0%{
		transform: scale(1.3);
	}
	100%{
		transform: scale(1);
	}
}