/* Footer Style */
/* line 10, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_image-grid.scss */
.gal-container {
  padding: 12px;
  padding-top: 75px;
  padding-bottom: 75px; }
  /* line 14, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_image-grid.scss */
  .gal-container .modal-dialogue {
    width: 80%; }
  /* line 17, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_image-grid.scss */
  .gal-container .description {
    position: relative;
    height: 40px;
    top: -40px;
    padding: 10px 25px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: left; }
    /* line 25, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_image-grid.scss */
    .gal-container .description h4 {
      margin: 0px;
      font-size: 15px;
      font-weight: 300;
      line-height: 20px; }
  /* line 33, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_image-grid.scss */
  .gal-container .modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  /* line 46, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_image-grid.scss */
  .gal-container .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1; }

/* line 57, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_image-grid.scss */
.gal-item {
  overflow: hidden;
  padding: 3px; }
  /* line 60, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_image-grid.scss */
  .gal-item .box {
    height: 350px;
    overflow: hidden; }
  /* line 65, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_image-grid.scss */
  .gal-item a:focus {
    outline: none; }
  /* line 68, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_image-grid.scss */
  .gal-item a:after {
    content: "\e003";
    font-family: "Glyphicons Halflings";
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    right: 3px;
    left: 3px;
    top: 3px;
    bottom: 3px;
    text-align: center;
    line-height: 350px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s; }
  /* line 87, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_image-grid.scss */
  .gal-item a:hover:after {
    opacity: 1; }

/* line 94, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_image-grid.scss */
.box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  -o-object-fit: cover; }

/* line 103, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_image-grid.scss */
.modal-open .gal-container .modal {
  background-color: rgba(0, 0, 0, 0.4); }

/* line 108, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_image-grid.scss */
.modal-open .gal-item .modal-body {
  padding: 0px; }

/* line 111, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_image-grid.scss */
.modal-open .gal-item button.close {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #000;
  opacity: 1;
  color: #fff;
  z-index: 999;
  right: -12px;
  top: -12px;
  border-radius: 50%;
  font-size: 15px;
  border: 2px solid #fff;
  line-height: 25px;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.35); }
  /* line 127, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_image-grid.scss */
  .modal-open .gal-item button.close:focus {
    outline: none; }
  /* line 130, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_image-grid.scss */
  .modal-open .gal-item button.close span {
    position: relative;
    top: -3px;
    font-weight: lighter;
    text-shadow: none; }

@media (min-width: 768px) {
  /* line 142, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_image-grid.scss */
  .gal-container .modal-dialog {
    width: 55%;
    margin: 50 auto; } }

@media (max-width: 768px) {
  /* line 150, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_image-grid.scss */
  .gal-container .modal-content {
    height: 250px; } }

/* line 1, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_hero-flexslider.scss */
.hero-flexslider {
  position: relative;
  height: 100vh; }

/* line 6, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_hero-flexslider.scss */
.hero-flexslider {
  position: relative;
  height: 100vh; }

/* line 11, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_hero-flexslider.scss */
.hero-flexslider .overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  cursor: pointer; }

/* line 25, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_hero-flexslider.scss */
.hero-flexslider .hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; }

/* line 34, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_hero-flexslider.scss */
.hero-text h1 {
  font-size: 28px;
  line-height: 36px; }

/* line 39, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_hero-flexslider.scss */
.hero-text p {
  font-size: 18px;
  font-weight: 100; }

@media only screen and (min-width: 500px) {
  /* line 45, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_hero-flexslider.scss */
  .hero-text h1 {
    font-size: 50px;
    line-height: 72px; } }

/* line 50, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_hero-flexslider.scss */
.kenburn-slider {
  width: 100%;
  position: relative; }
  /* line 54, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_hero-flexslider.scss */
  .kenburn-slider .slides {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0; }
    /* line 60, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_hero-flexslider.scss */
    .kenburn-slider .slides > li {
      float: left;
      margin-right: -100%;
      width: 100%;
      overflow: hidden;
      height: 100vh;
      position: relative; }
  /* line 70, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_hero-flexslider.scss */
  .kenburn-slider .flex-direction-nav {
    list-style: none;
    margin: 0;
    padding: 0; }
    /* line 75, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_hero-flexslider.scss */
    .kenburn-slider .flex-direction-nav .flex-prev, .kenburn-slider .flex-direction-nav .flex-next {
      background-color: rgba(255, 255, 255, 0.7);
      color: #333;
      padding: 10px 20px;
      text-decoration: none;
      position: absolute;
      height: 1em;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: 8;
      text-align: center; }
    /* line 89, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_hero-flexslider.scss */
    .kenburn-slider .flex-direction-nav .flex-prev {
      left: 0; }
    /* line 90, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_hero-flexslider.scss */
    .kenburn-slider .flex-direction-nav .flex-next {
      right: 0; }

/* line 93, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_hero-flexslider.scss */
.slide-image {
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }
  /* line 102, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_hero-flexslider.scss */
  .flex-active-slide .slide-image {
    animation: zoomout 5s; }

@-webkit-keyframes zoomout {
  0% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

/* line 5, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_popup-event.scss */
body.noscroll {
  overflow: hidden; }

/* line 8, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_popup-event.scss */
.event-popup {
  height: 100vh;
  position: relative;
  display: none; }
  /* line 12, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_popup-event.scss */
  .event-popup::after {
    display: block;
    content: '';
    position: absolute;
    background-color: #71C9D6;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }
  /* line 22, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_popup-event.scss */
  .event-popup .image {
    max-width: 500px;
    margin: 0px auto 30px auto;
    position: relative;
    z-index: 10;
    text-align: center; }
    /* line 28, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_popup-event.scss */
    .event-popup .image a {
      display: inline-block;
      margin-top: 20px;
      border-radius: 20px;
      line-height: 40px;
      background-color: #93BC33;
      color: #FFFFFF;
      text-align: center;
      padding: 0 30px; }

/* line 40, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_popup-event.scss */
.event-popup.open {
  display: block; }

/* line 4, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_menu-scrollToHide.scss */
.menu-scroll-hidden {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: all .5s;
  z-index: 9999; }

/* line 12, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_menu-scrollToHide.scss */
.menu-scroll-hidden.remove {
  top: -70px; }

/* line 15, /Users/visa/sites/mywork/web-ui/dev/assets/scss/framework/_menu-scrollToHide.scss */
.menu-scroll-hidden.remove.show-menu {
  transition: all .5s;
  background-color: "#eeeeee";
  top: 0;
  z-index: 9999; }

/*# sourceMappingURL=main.css.map */